{
  "presets": ["react-native"],
  "plugins": [
    ["module-resolver", {
      "root": ["./app"],
      "alias": {
        "app": "./app",
        "actions": "./app/actions",
        "components": "./app/components",
        "config": "./app/config",
        "reducers": "./app/reducers",
      }
    }]
  ],
}
